/*seletor universal - todos vão ter essa formatação */
*{
    margin: 0px; 
    padding: 10px; 
}

<header>
<h1>Verde Pã</h1>
<input type="checkbox" id="menu" class="caixa">
<label form="menu">
    <h3 class="texto">MENU</h3>
    <!--aqui pode vir o que quiser como imagem-->
</label>
<ul class="lista">
    <li class="lista-item"> <a href="Escolha suas mudas">Item 1</a> </li>
    <li class="lista-item"> <a href="Como começo?">Item 2</a> </li>
    <li class="lista-item"> <a href="Agricultura">Item 3</a> </li>
    <li class="lista-item"> <a href="Fale coosco">Item 4</a> </li>
    <li class="lista-item"> <a href="nova-página.html">Item 5</a> </li>
</ul>

header{
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative; /* mportante para o menu tomar como referêcia */
}

</header>

.texto{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

/* fazendo o menu apaarecer quando clicar */
.caixa:checked ~ .lista{
    display: block;
} 

/* desaparecendo a caixa de seleção */
#menu{
    display: none;
}
.gsr{
    background-color: #101728;
    color: white;
    display: flex;
    justify-content: center;
}
.gfd{
    display: flex;
    justify-content: center;
}