/*seletor universal - todos vão ter essa formatação */
*{
    margin: 0px; 
    padding: 10px; 
}

header{
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-around;
    background-color: black;
    color: white;
    position: relative; /* mportante para o menu tomar como referêcia */
}

 table {
        background-color: #101728;
        color: white;
        border-collapse: collapse;
        width: 300px;
        text-align: center;
        margin: 50px auto;
        
    }
    td, th {
        background-color: #101728;
        color: white;
        border: 1px solid #101728;
        padding: 10px;
    }
    th {
        background-color: #101728;
        color: white
    }
    caption {
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: bold;
        background-color: #101728;
        color: white;
     }

ul li{
    list-style: none;
}
.texto{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

/* fazendo o menu apaarecer quando clicar */
.caixa:checked ~ .lista{
    display: block;
} 

/* desaparecendo a caixa de seleção */
#menu{
    display: none;
}
.gsr{
    background-color: #101728;
    color: white;
    display: flex;
    justify-content: center;
}
.gfd{
    display: flex;
    justify-content: center;
}
